body {
  font-family: sans-serif;
}

.container {
  width: 400px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
}

button {
  width: 100px;
  background-color: #333;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

#weather {
  margin-top: 20px;
}
